In [31]:
import numpy as np
import pandas as pd

In [32]:
dataset=pd.read_csv('movie.csv')

In [33]:
dataset.head()

   id                                               text     genre
0   0  eady dead, maybe even wishing he was. INT. 2ND...  thriller
1   2  t, summa cum laude and all. And I'm about to l...    comedy
2   3   up Come, I have a surprise.... She takes him ...     drama
3   4  ded by the two detectives. INT. JEFF'S APARTME...  thriller
4   5  nd dismounts, just as the other children reach...     drama

In [34]:
dataset.isna().sum()

id       0
text     0
genre    0
dtype: int64

In [35]:
dataset['genre'].unique()

array(['thriller', 'comedy', 'drama', 'action', 'sci-fi', 'other',
       'romance', 'horror', 'adventure'], dtype=object)

In [36]:
egenre={'thriller':0, 'comedy':1, 'drama':2, 'action':3, 'sci-fi':4, 'other':5,
       'romance':6, 'horror':7, 'adventure':8}

In [37]:
dataset['genre']=dataset['genre'].map(egenre)

In [38]:
dataset.head()

   id                                               text  genre
0   0  eady dead, maybe even wishing he was. INT. 2ND...      0
1   2  t, summa cum laude and all. And I'm about to l...      1
2   3   up Come, I have a surprise.... She takes him ...      2
3   4  ded by the two detectives. INT. JEFF'S APARTME...      0
4   5  nd dismounts, just as the other children reach...      2

In [39]:
import re
import nltk

In [40]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [41]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [42]:
corpus=[]

In [43]:
dataset['text'][0]

"eady dead, maybe even wishing he was. INT. 2ND FLOOR HALLWAY THREE NIGHT The Orderly leads Liza to a door. ORDERLY In here. White guy in his 30s. He opens the door and they step into... ROOM THREE There's a white guy in his mid 30s. He looks up. Wild. Straight jacketed. Not Jerry. Liza's reached the end of her rope. She just shakes her head. INT. DECREPIT HOSPITAL ROOM NIGHT Balled up. Fetal. Not really all there. Head pressed to the cement, he tries to sing to himself. JERRY Blue moon... Blue moon... INT. 2ND FLOOR HALLWAY THREE NIGHT Liza just stands there, leaning on a rail on the wall. The Orderly isn't sure what's going on, but he knows it's bad. ORDERLY You okay? Liza starts down the hall with the Orderly following. ORDERLY We got some new patients last week. You want to see them? Liza waves them off. It's hopeless. She stops at a chicken wired window at the end of the hall, looks out. Light's about to break and Jerry's out there somewhere. ORDERLY Look, I gotta get back to work."

In [44]:
re.sub(pattern='[^a-zA-Z]',repl=' ',string=dataset['text'][0])

'eady dead  maybe even wishing he was  INT   ND FLOOR HALLWAY THREE NIGHT The Orderly leads Liza to a door  ORDERLY In here  White guy in his   s  He opens the door and they step into    ROOM THREE There s a white guy in his mid   s  He looks up  Wild  Straight jacketed  Not Jerry  Liza s reached the end of her rope  She just shakes her head  INT  DECREPIT HOSPITAL ROOM NIGHT Balled up  Fetal  Not really all there  Head pressed to the cement  he tries to sing to himself  JERRY Blue moon    Blue moon    INT   ND FLOOR HALLWAY THREE NIGHT Liza just stands there  leaning on a rail on the wall  The Orderly isn t sure what s going on  but he knows it s bad  ORDERLY You okay  Liza starts down the hall with the Orderly following  ORDERLY We got some new patients last week  You want to see them  Liza waves them off  It s hopeless  She stops at a chicken wired window at the end of the hall  looks out  Light s about to break and Jerry s out there somewhere  ORDERLY Look  I gotta get back to work '

In [45]:
re.sub(pattern='[^a-zA-Z]',repl=' ',string=dataset['text'][0]).lower()

'eady dead  maybe even wishing he was  int   nd floor hallway three night the orderly leads liza to a door  orderly in here  white guy in his   s  he opens the door and they step into    room three there s a white guy in his mid   s  he looks up  wild  straight jacketed  not jerry  liza s reached the end of her rope  she just shakes her head  int  decrepit hospital room night balled up  fetal  not really all there  head pressed to the cement  he tries to sing to himself  jerry blue moon    blue moon    int   nd floor hallway three night liza just stands there  leaning on a rail on the wall  the orderly isn t sure what s going on  but he knows it s bad  orderly you okay  liza starts down the hall with the orderly following  orderly we got some new patients last week  you want to see them  liza waves them off  it s hopeless  she stops at a chicken wired window at the end of the hall  looks out  light s about to break and jerry s out there somewhere  orderly look  i gotta get back to work '

In [46]:
for i in range(0,dataset.shape[0]):
    text=re.sub(pattern='[^a-zA-Z]',repl=' ',string=dataset['text'][i])
    text=text.lower()
    words=text.split()
    cleaned_words=[word for word in words if word not in set(stopwords.words('english'))]
    ps=PorterStemmer()
    words=[ps.stem(word) for word in cleaned_words]
    text=' '.join(words)
    corpus.append(text)

In [ ]:
corpus[0]

IndexError: list index out of range